.task_list{
  padding: 20px 0px;

  width: 270px;
  border-radius: 20px;

  font-size: 20px;

  background-color: rgb(10, 10, 14);
  transition: background-color 0.15s ease-out, scale 0.1s ease-out;
  
  user-select: none;
}

.task_list:hover{
  scale: 1.03;
  background-color: rgb(18, 23, 29);
}